.promo__container {
  background-color: #073042;
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.promo__heading {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.07;
  max-width: 626px;
  text-align: center;
  letter-spacing: -1px;
}

.promo__image {
  width: 722px;
  height: 244px;
  align-self: flex-end;
}
