.navigation__list_type_unauthorized {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .navigation__link_type_bright {
    background-color: #3ddc84;
    padding: 8px 20px;
    border-radius: 3px;
    color: #000;
  }

  @media screen and (max-width: 550px) {
    .navigation__list_type_unauthorized {
      gap: 14px;
    }
}