.navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation__list {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .navigation__list-item {
    list-style-type: none;
  }

  .navigation__list-item_type_profile {
    margin-left: 30px;
  }

  .navigation__link_type_profile {
    display: flex;
    gap: 13px;
    align-items: center;
  }
  
.navigation__profile-icon {
    background-color: #313131;
    padding: 9.75px;
    border-radius: 6px;
}

  .navigation__link {
    background-color: transparent;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 0.5s;
  }

  .navigation__link_type_bright {
    background-color: #3ddc84;
    padding: 8px 20px;
    border-radius: 3px;
    color: #000;
  }
  
  .navigation__link:hover {
    opacity: 0.5;
  }
  

  