.techs {
    width: 100%;
    background-color: #272727;
  }

  .techs__wrapper {
    padding: 100px 70px;
  }

  .techs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .techs__title {
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 23px;
    border-bottom: 1px solid #dadada;
    margin: 0 0 90px;
    letter-spacing: -1px;
  }

  .techs__paragraph-title {
    margin: 0 0 26px;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -1px;
  }

  .techs__paragraph {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 100px;
    line-height: 20px;
    max-width: 460px;
    text-align: center;
  }

  .techs__list {
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .techs__item {
    padding: 20px 30px;
    background-color: #303030;
    border-radius: 10px;
    font-size: 14px;
    justify-content: center;
    display: flex;
  }

  @media screen and (max-width: 800px) {
    
    .techs__wrapper {
      padding: 90px 50px;
    }
    .techs__paragraph-title {
      margin-bottom: 22px;
    }
    .techs__paragraph {
      font-size: 12px;
      margin-bottom: 83px;
    }
    .techs__item {
      font-size: 12px;
      padding: 20px 25px;
    }
    .techs__title {
margin-bottom: 80px;
    }
  }

  @media screen and (max-width: 700px) {
    .techs__list {
      display: grid;
      grid-template-columns: repeat(2, 84px);
    }
  }
  @media screen and (max-width: 550px) {

    .techs__title {
      font-size: 18px;
      padding-bottom: 28px;
      margin-bottom: 60px;
    }
    .techs__wrapper {
      padding: 70px 15px;
    }
    .techs__list {
      display: grid;
      grid-template-columns: repeat(2, 84px);
    }
    .techs__paragraph-title {
     font-size: 30px;
    }
    
  }
 